body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Disable vertical scrolling */
    font-family: cursive;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    background-image: url("../img/menu_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    background-color: #72aee6;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

    header h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

canvas {
    border: 2px solid black;
    background-color: #99cc66;
    display: none; /* Initially hidden */
    margin: auto; /* Center canvas horizontally */
    width: 70vw; /* Set canvas width to 70% of viewport width */
    height: 70vh; /* Set canvas height to 70% of viewport height */
    box-sizing: border-box; /* Include border in the size calculation */
    padding-bottom: 4px; /* Add padding to account for border */
}

.menu {
    max-width: 600px;
    margin-top: 100px; /* Add space between header and menu */
    padding: 20px;
    text-align: center;
    background-color: #f0d79a; /* Light yellow background for the container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Slight shadow */
}

    .menu button {
        font-size: 1.2em;
        padding: 15px 30px;
        cursor: pointer;
        background-color: #9a7d4f; /* Brownish color for buttons */
        color: #fff;
        border: 2px solid #9a7d4f;
        border-radius: 8px;
        transition: background-color 0.3s;
        margin-bottom: 30px;
    }

        .menu button:hover {
            background-color: #6b5733;
        }



#startButton,
#optionsButton,
#leaderboardButton {
    width: 100%;
    border: none; /* Remove border for individual buttons */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#playButton {
    display: none;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        
}