
@media (min-width: 768px) {
    html {
        position: relative;
        min-height: 100%;
    }
}

body {
    /*Sets default items*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    background-color: #e0e0e0;
    font-family: cursive;
    margin-bottom: 60px;
    font-size: 16px;
    /*Background image*/
    background-image: url("../img/pixel_bg.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}


    /*Sets menu button background*/
    .homepage-container {
        max-width: 600px;
        padding: 20px;
        text-align: center;
        background-color: #f0d79a; /* Light yellow background for the container */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Slight shadow */
    }

    /*Sets baclground of header menu*/
    header {
        background-color: #72aee6; /* Light blue header */
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
        /* Header Text*/
        header h1 {
            font-size: 2em;
            margin-bottom: 10px;
            color: #fff; /* White text for header */
        }

    /* Menu Buttons*/
    .btn {
        font-size: 1.2em;
        padding: 15px 30px;
        cursor: pointer;
        background-color: #9a7d4f; /* Brownish color for buttons */
        color: #fff;
        border: 2px solid #9a7d4f;
        border-radius: 8px;
        transition: background-color 0.3s;
        margin-bottom: 30px;
    }
        /*When mouse hovers, chnage colour...*/
        .btn:hover {
            background-color: #6b5733; /* Darker brown on hover */
        }

    /*Sets boxes for each button*/
    .options-section,
    .start-section,
    .leaderboard-section {
        margin-top: 20px;
        border: 2px solid #9a7d4f;
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }


    /*Game Canvas Set*/
    #canvas {
        width: 500px; 
        height: 500px;
        border-style: solid;
        background: #00e600;
    }
    /*Score Canvas Set*/
  

    #speedInput {
        font-size: 30px;
        width: 300px;
        height: 50px;
    }
    #dirInput {
        font-size: 30px;
        width: 300px;
        height: 50px;
    }
   

 
